* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(12, minmax(85px, 1fr));
  grid-template-rows: repeat(12, minmax(30px, 1fr));
  background: #6B7280;
  height: 100vh;
}

.header {
  background: #cfcfd3;
  grid-column: 3 / span 10;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-end;
  color: #111123;
  font-weight: 500;
}

.topheader {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}

input {
  border-radius: 50px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #ffffff;
  border: none;
  width: 100%;
}

input:hover {
  border: 2px solid #23b3a7;
}

.icons {
  height: 15px;
}

.usertop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 3%;
}

.profiletop {
  height: 25px;
  border-radius: 50%;
}

.bottomheader {
  height: 50%;
  width: 100%;
  min-height: 40px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profilebottom {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.profilebottom > img {
  height: 85%;
  border-radius: 50%;
}

.welcome {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: large;
  flex-wrap: nowrap;
}

.welcometext {
  font-weight: 300;
  font-size: small;
}

.buttons {
  padding-right: 3%;
  display: flex;
  align-items: center;
  gap: 5%;
  height: 100%;
}

button {
  color: white;
  width: 100px;
  height: 65%;
  border-radius: 100px;
  background: #111123;
  border: none;
}

button:hover {
  background: #23b3a7;
  color: #111123;
  border: 2px solid #111123;
  cursor: pointer;
}

.sidebar {
  background: #111123;
  grid-column: 1 / span 2;
  grid-row: 1 / span 13;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 8%;
  height: 100vh;
}

.logo {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  padding-top: 5%;
  width: 90%;
}

.navigation {
  grid-column: 1;
  grid-row: 4 / span 6;
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.help-panel {
  grid-column: 1;
  grid-row: 10 / span 4;
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.container {
  grid-column: 3 / span 10;
  grid-row: 3 / span 10;
  margin: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  align-items: start;
  gap: 10px;
}

.projects {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  overflow: auto;
  max-height: 80vh;
}

.projects > div {
  height: 150px;
  background: #cfcfd3;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: 80% 20%;
}

.colorbar {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  background: linear-gradient(180deg, #111123, #23b3a7);
  border-radius: 5px 0 0 5px;
}

.texts {
  padding-left: 10px;
  padding-right: 10px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: justify;
}

.title {
  font-weight: 600;
}

.description {
  font-size: small;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.projecticons {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding-right: 3%;
  padding-bottom: 2%;
  justify-self: end;
  align-self: center;
  display: flex;
  gap: 10px;
}

.projecticons > img {
  height: 17px;
}

.rightbar {
  grid-column: 5 / span 1;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  font-weight: 600;
  overflow: auto;
}

.announcements {
  background: #cfcfd3;
  border-radius: 5px;
  padding: 5px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.announcement {
  border-top: 1px solid #585865;
  font-weight: 500;
  font-size: small;
  padding-top: 3%;
  padding-bottom: 3%;
  overflow: hidden;
}

.ann-description {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: small;
}

.trendings {
  background: #cfcfd3;
  padding-left: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trendings > p {
  align-self: flex-start;
  padding-bottom: 2%;
}

.trending {
  font-weight: 500;
  font-size: small;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: 50px;
}

.trendpicture {
  height: 35px;
  border-radius: 25px;
}

.trendingtexts {
  display: flex;
  flex-direction: column;
}

.tag {
  color: #5d3b8f;
}

.tren-description {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: small;
}